{{#*inline "content"}}
  <p>Hallo {{firstName}},</p>
  
  <p>wir haben deine Anfrage erhalten, dich vom Wettkampf <strong>{{competitionName}}</strong> am {{competitionDate}} abzumelden.</p>
  
  <p>Um deine Abmeldung zu bestätigen, klicke bitte auf den folgenden Link:</p>
  
  <a href="{{cancellationLink}}" class="button">Abmeldung bestätigen</a>
  
  <p>Oder kopiere diese URL in deinen Browser:</p>
  <p class="url">{{cancellationLink}}</p>
  
  <p>Dieser Link ist gültig bis zum {{expiryDate}}.</p>
  
  <p>Falls du dich nicht abmelden möchtest, kannst du diese E-Mail ignorieren und bleibst für den Wettkampf angemeldet.</p>
  
  <p>Bei Fragen stehen wir dir gerne zur Verfügung.</p>
{{/inline}}

{{> base title="Abmeldebestätigung"}} 